/* ---- Tasks Navigation ---- */
div.container-project-tasks {
  grid-area: tasks;
  background-color: var(--sixth);
  padding: 20px;
  padding-top: 10px;
  margin-top: 20px;
  margin-right: 15px;
}

.task {
  display: grid;
  row-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr 1fr 0.5fr;
  grid-template-areas:
    "task-title task-title task-title"
    "task-description task-description task-description"
    "task-due-date task-due-date task-priority"
    "edit-icon status-toggle-icon delete-icon";
  place-items: center;
  /*Task contrast improvement*/
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.task:hover {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px var(--eighth);
}

#header-tasks {
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  background-color: var(--seventh);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

#content-tasks {
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  grid-auto-rows: 240px;
  grid-gap: 5px;
}

div.container-project-tasks .task {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 5px;
}

div.task img {
  object-fit: cover;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  filter: brightness(0.5);
}

div.task img:hover {
  opacity: 1;
  filter: brightness(1);
}

#button-task-add {
  background-color: var(--fourth);
  border-radius: 10%;
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  height: 40px;
  width: 35px;
  flex-shrink: 0;
}

#button-task-add:hover {
  background-color: var(--second);
  box-shadow: 0 0 10px var(--fifth);
}

div.container-project-tasks h2 {
  text-align: center;
  margin-bottom: 15px;
}

.task-title {
  grid-area: task-title;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 9rem;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

.task-description {
  grid-area: task-description;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  font-size: 0.7rem;
  max-height: 7.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  align-self: start;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.task-due-date {
  grid-area: task-due-date;
  font-size: 0.8rem;
  text-align: center;
}

.task-priority {
  grid-area: task-priority;
  font-size: 0.8rem;
  text-align: center;
}

.edit-icon {
  grid-area: edit-icon;
}

.status-toggle-icon {
  grid-area: status-toggle-icon;
}

.delete-icon {
  grid-area: delete-icon;
}

.task p {
  margin-bottom: 10px;
}

.task .task-details {
  font-size: 14px;
  color: #666;
}

.task .task-details span {
  margin-right: 10px;
}

/* Task status toggle styling*/
.task[data-status="completed"] .task-title,
.task[data-status="completed"] .task-description{
  text-decoration: line-through;
}

.task[data-status="completed"] .task-title,
.task[data-status="completed"] .task-description,
.task[data-status="completed"] .task-due-date,
.task[data-status="completed"] .task-priority {
  opacity: 0.4;
}

.task .status-toggle-icon {
  color: var(--first);
  font-size: x-large;
  border: solid 2px #00000070;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  opacity: 1;
}
